<div class="wrapper">
  <h1>ShoppingCars</h1>
    <span style="font-size: 39px;"><a href="javascript: void(0);" (click)="newShoppingCar()">&#43;</a></span>

  <div class="clear"></div>
  <div class="items">

    <div class="item" *ngFor="let car of shoppingCars"  >
      <button class="add-to-cart-del" type="button" (click)="deleteShoppingCar(car.id)">Delete</button>
      <a routerLink="/products/{{car.id}}">
      <img src="https://i5.walmartimages.com/asr/63713614-3f6a-4ba6-98c5-94ee31726c74_1.d971952917d11abb9a99df3f1c8003ee.jpeg?odnWidth=200&odnHeight=200&odnBg=ffffff" alt="item" />
      </a>
      <h2>Shopping Car - {{car.id}}	&nbsp; {{car.type}}</h2>
      <p>Price: <em>${{car.value}}</em>
      </p>
      <button class="add-to-cart" type="button">Checkout</button>
    </div>
  </div>
</div>
<!--/ wrapper -->
<a href="javascript: void(0);"  class="float" (click)="goBack()"><</a>
